<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("../partials/head")%>
</head>

<body>
  <div class="container">
    <%- include('../partials/navbar') %>

      <h2>Dashboard</h2>

  </div>
</body>

</html>